
/*------------------------------------------------------
------------------- Estilo Portada----------------------
-------------------------------------------------------*/
#content{
	/*position: relative; /*allow vertical centering*/
	top:0px;
	left:0px;
	height: 100%;
}
#content form{ /*poisicion del formularcio bien centradito*/
	height: 40px;
	position: absolute;
	top: 50%;
	margin: 0 auto;
	margin-top: -20px;
	width: 100%;
	max-width: 850px;
	text-align: center;
}

#content form>*{ /*pone de lado texto i formulario*/
	display: inline;
}

#content h2{
	color: #20547c;
	vertical-align: top;
}

#content form input{ /*estilo de la caja de formulario*/
	height: 37px;
	width: 370px;
	text-align: center;
	font-size: 0.5em;
	border-radius: 5px;
	box-shadow: 0px 0px 7px #CCC inset;
	border: 1px #AAA solid;
}


.helper.big{
	max-width: 306px; /*Conectado a la widht the form input y el padding de la helper big*/
	font-size: 0.3em;
	bottom: 37px; /*conectada a la altura de form input*/
}