/*------------------------------------------------------
----------------- Estructura base --------------------------
-------------------------------------------------------*/

html, body{
	background-color: #F0F0F0;
}

#header{
	height:  81px;  /*contected to the incontainer top*/
	border-bottom: 2px white solid;
	background-color: #565656;
	box-shadow: 0px 10px 30px #CCCCCC;
}

#headerwrap, #footerwrap{
	max-width: 850px;
	margin: 0 auto;
}

#headerwrap{
	text-align: center;
}

#incontainer{
	/* The limit of responsive is 1024*/
	width: 100%;
	max-width: 1024px; /*contected to the centerer-left-padding + content-min-widht + menu-width*/
	margin: 0 auto;
	top: 82px; /*contected to the header height*/
	bottom: 88px; /*contected to the footer height*/
	left: 0px;
	right: 0px;
	position: absolute;	
	z-index: -10; /*Sino no se proyectan las sombras*/
	clear: both;
}

#menu{
	width: 86px;
	float: right;
}

#content{
	border-right: 1px #c1c1c1 solid;
	border-left: 1px #c1c1c1 solid;
	background-color: white;
	max-width: 850px;
	width: 100%;
	/*float: right;*/
	height: 100%;
}

#centerer{
	height: 100%;
	padding-left: 86px;	
}

#footer{
	clear: both;
	height: 88px;  /*contected to the incontainer bottom*/
	border-top: 2px white solid;
	background-color: #565656;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

/*------------------------------------------------------
------------------- Estilo header----------------------
-------------------------------------------------------*/

#headerwrap p{
	padding-top: 0.8em;
	color: #EEE;
	font-size: 0.9em;
	font-weight:lighter;
}

#header h1{
	color: #FFF;
	float: left;
	padding-right: 20px;
}

#headerwrap{
	padding-top: 25px;
	padding-bottom: 30px;
}

.left{
	float: left;
}

#header h1{
	float: left;
}

#header h1, #header p{
	display: inline-block;
}

/*------------------------------------------------------
------------------- Estilo footer----------------------
-------------------------------------------------------*/
#footer{
	color: white;
	font-size: 0.6em;
	font-family: Arial, Helvetica, sans-serif;
}

#License , #ExplicacionLic{
	float: left;
	padding-top: 20px;
}

#License{
	width: 44%;
}

#ExplicacionLic{
	width: 56%;
}

#License img{
	float: left;
	padding-top: 8px;
	padding-right: 15px;
}

#License p, #ExplicacionLic p{
	padding: 8px;
}

/*------------------------------------------------------
------------------- Estilo generico----------------------
-------------------------------------------------------*/

h1{
	font-size: 2.2em;
}

h2{
	font-size: 2.2em;
}

.placeholder{
	color: #c0c0c0;
}
/*------------------------------------------------------
-------------------------- Menu  -----------------------
-------------------------------------------------------*/

#menu{
	margin-top: 20px;
}

#menu a{
	height: 38px;
	width: 38px;
	display: block;
	background-repeat: no-repeat;	
	text-indent:-9999px; /*accesible design*/
	margin-left: 21px;
	background-position: center top;
}

#menu a:hover{
	background-position: center bottom;		
}

#menu #navdipu{
	background-image: url("img/dipu.png");
}

#menu #navhemi{
	background-image: url("img/hemi.png");
}

#menu #navpartido{
	background-image: url("img/partidos.png");
}

#menu .helper.menu{
	right: 76px; /*conected with #menu  width*/
	width: 109px;
	height: 13px;
	text-align: center;
	text-transform: uppercase;
	padding: 9px;
	font-size: 0.8em;
}

#menu .helper.menu::after{
	content:"";
	position: absolute;
	right: -4px;
	border-width: 4px 0px 4px 4px;
	border-style: solid;
	border-color: transparent #515151 ;
	display: block;
	margin: 0 auto;
	top: 11px;
}

/*------------------------------------------------------
------------------- Gloobos de helper-------------------
-------------------------------------------------------*/
.helper{
	position: absolute;
	color: white; 
	background-color: #515151;
	z-index: 999;
	border-radius: 3px;
}

.helper.big{
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0px 3px 0px #e5e5e5;
	padding: 13px 32px;
	margin-bottom: 15px;
	text-align: left;
	background-image: url("img/bombilla.png");
	background-repeat: no-repeat;
	background-position: 9px 9px;
}

.helper.big::after{
	content:"";
	position: absolute;
	bottom: -10px;
	border-width: 10px 10px 0px;
	border-style: solid;
	border-color: #515151 transparent;
	display: block;
	margin: 0 auto;
	left: 50%;
}
